<a href="https://colab.research.google.com/github/ClovisMonteiro/Python_para_Data_Science/blob/master/pandas/Base%20de%20Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Relatório de Análise I

## Importando a Base de Dados

In [0]:
import pandas as pd

In [0]:
dados = pd.read_csv('aluguel.csv', sep = ';')

In [39]:
type(dados)

pandas.core.frame.DataFrame

In [40]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [41]:
dados.head(10)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN
5              Apartamento     Vista Alegre  ...         NaN     NaN
6              Apartamento         Cachambi  ...       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca  ...         NaN     NaN
8       Casa de Condomínio            Ramos  ...         NaN     NaN
9  Conjunto Comercial/Sala           Centro  ...     19193.0  3030.0

[10 rows x 9 columns]

## Informações Gerais sobre a Base de Dados

In [42]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [0]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [0]:
tipos_de_dados.columns.name = 'Variáveis'

In [45]:
tipos_de_dados

Variáveis  Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [46]:
dados.shape

(32960, 9)

In [47]:
dados.shape[0]

32960

In [48]:
dados.shape[1]

9

In [49]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis


# Relatório de Análise II

## Tipos de imóveis

In [0]:
tipo_de_imovel = dados['Tipo']

In [51]:
type(tipo_de_imovel)

pandas.core.series.Series

In [0]:
tipo_de_imovel.drop_duplicates(inplace = True) #Modifica a variável nela mesma

In [53]:
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Organizando visualização

In [0]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [55]:
tipo_de_imovel

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [56]:
tipo_de_imovel.shape

(22, 1)

In [57]:
for i in range(tipo_de_imovel.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [58]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel.columns.name = "Id"
tipo_de_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

# Relatório de Análise III

In [59]:
list(dados['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [0]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila',
 ]

In [61]:
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [62]:
dados.head(5)

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

In [63]:
selecao = dados['Tipo'].isin(residencial)
selecao

0         True
1         True
2        False
3         True
7         True
16       False
17       False
29       False
80       False
83       False
117       True
159      False
207      False
347      False
589      False
2157     False
3354     False
4379     False
4721     False
6983     False
9687     False
23614    False
Name: Tipo, dtype: bool

In [0]:
dados_residencial = dados

# Relatório de Análise IV

In [113]:
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

1046

In [121]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

34

In [122]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

708

In [123]:
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

0

In [124]:
print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))

Nº de imóveis classificados com tipo 'Apartamento' -> 1046
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> 34
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 708
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 0

# Relatório de Análise V

In [65]:
dados

                          Tipo                Bairro  ...  Condominio    IPTU
0                    Quitinete            Copacabana  ...       500.0    60.0
1                         Casa       Jardim Botânico  ...         NaN     NaN
2      Conjunto Comercial/Sala       Barra da Tijuca  ...      4020.0  1111.0
3                  Apartamento                Centro  ...       390.0    20.0
4                  Apartamento          Higienópolis  ...       230.0     NaN
...                        ...                   ...  ...         ...     ...
32955                Quitinete                Centro  ...       350.0    25.0
32956              Apartamento           Jacarepaguá  ...       800.0    40.0
32957              Apartamento  São Francisco Xavier  ...       509.0    37.0
32958              Apartamento                Leblon  ...       760.0     NaN
32959  Conjunto Comercial/Sala                Centro  ...      4206.0  1109.0

[32960 rows x 9 columns]

In [66]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
32955  False   False    False  False   False  False  False       False  False
32956  False   False    False  False   False  False  False       False  False
32957  False   False    False  False   False  False  False       False  False
32958  False   False    False  False   False  False  False       False   True
32959  False   False    False  False   False  False  False       False  False

[32960 rows x 9 columns]

In [67]:
dados.notnull()

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True   True
4      True    True     True   True    True  True   True        True  False
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
32955  True    True     True   True    True  True   True        True   True
32956  True    True     True   True    True  True   True        True   True
32957  True    True     True   True    True  True   True        True   True
32958  True    True     True   True    True  True   True        True  False
32959  True    True     True   True    True  True   True        True   True

[32960 rows x 9 columns]

In [68]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.0+ MB

In [69]:
A = dados.shape[0]
dados.dropna(subset=['Valor'], inplace = True)
B = dados.shape[0]
A-B

17

In [70]:
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

## Tratamento de dados faltantes

In [71]:
dados[dados['Condominio'].isnull()].shape[0]

4089

In [0]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [73]:
A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

745

In [74]:
dados[dados['Condominio'].isnull()].shape[0]

3344

In [0]:
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [76]:
dados.fillna(0, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [0]:
dados = dados.fillna({'Condominio': 0, 'IPTU': 0})

In [78]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32198 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32198 non-null  object
 1   Bairro      32198 non-null  object
 2   Quartos     32198 non-null  int64
 3   Vagas       32198 non-null  int64
 4   Suites      32198 non-null  int64
 5   Area        32198 non-null  int64
 6   Valor       32198 non-null  float64
 7   Condominio  32198 non-null  float64
 8   IPTU        32198 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.5+ MB

In [0]:
# dados.to_csv('dados/aluguel_residencial.csv', sep = ';', index = False)

Métodos de interpolação

- Existem outros métodos para realizarmos a interpolação, um deles é o ffill(). Esse método, analisa a Series do primeiro elemento ao último, e uma vez que for encontrada um valor nulo, ele coletará o valor da última assinatura válida.
 - s.fillna(method = 'ffill') 
 - s.fillna(method = 'ffill', limit = 1)
- Outro método que conheceremos é o bfill(), que por sua vez realiza a mesma análise das assinaturas em uma Series, mas dessa vez de baixo para cima, isto é, do último elemento da Series ao primeiro.
 - s.fillna(method = 'bfill')
 - s1.fillna(method = 'bfill', limit = 1)
 - s.fillna(s.mean())

#  Relatório de Análise VI

In [0]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']

In [0]:
dados['Valor m2'] = dados['Valor']/dados['Area']

In [0]:
dados['Valor m2'] = dados['Valor m2'].round(2)

In [0]:
dados['Valor Bruto m2'] = (dados['Valor Bruto']/dados['Area']).round(2)

In [0]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [0]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [86]:
dados

                          Tipo  ... Tipo Agregado
0                    Quitinete  ...   Apartamento
1                         Casa  ...          Casa
2      Conjunto Comercial/Sala  ...   Apartamento
3                  Apartamento  ...   Apartamento
4                  Apartamento  ...   Apartamento
...                        ...  ...           ...
32955                Quitinete  ...   Apartamento
32956              Apartamento  ...   Apartamento
32957              Apartamento  ...   Apartamento
32958              Apartamento  ...   Apartamento
32959  Conjunto Comercial/Sala  ...   Apartamento

[32198 rows x 13 columns]

## Excluindo Variáveis

In [0]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

In [92]:
dados_aux.head(10)

   Tipo Agregado  Valor m2  Valor Bruto  Valor Bruto m2
0    Apartamento     42.50       2260.0           56.50
1           Casa     70.00       7000.0           70.00
2    Apartamento     34.67      10331.0           68.87
3    Apartamento     53.33       1210.0           80.67
4    Apartamento     16.67       1030.0           21.46
6    Apartamento     26.00       1618.0           32.36
7           Casa     29.33      22000.0           29.33
8           Casa     15.38       1000.0           15.38
9    Apartamento     50.36      57223.0           82.34
11   Apartamento     21.43       2216.0           31.66

In [0]:
del dados_aux['Valor Bruto']

In [94]:
dados_aux

      Tipo Agregado  Valor m2  Valor Bruto m2
0       Apartamento     42.50           56.50
1              Casa     70.00           70.00
2       Apartamento     34.67           68.87
3       Apartamento     53.33           80.67
4       Apartamento     16.67           21.46
...             ...       ...             ...
32955   Apartamento     29.63           43.52
32956   Apartamento     23.08           33.85
32957   Apartamento     29.17           40.54
32958   Apartamento     42.86           53.71
32959   Apartamento     26.00           47.26

[32198 rows x 3 columns]

In [97]:
dados_aux.pop('Valor Bruto m2')

0        56.50
1        70.00
2        68.87
3        80.67
4        21.46
         ...
32955    43.52
32956    33.85
32957    40.54
32958    53.71
32959    47.26
Name: Valor Bruto m2, Length: 32198, dtype: float64

In [98]:
dados_aux

      Tipo Agregado  Valor m2
0       Apartamento     42.50
1              Casa     70.00
2       Apartamento     34.67
3       Apartamento     53.33
4       Apartamento     16.67
...             ...       ...
32955   Apartamento     29.63
32956   Apartamento     23.08
32957   Apartamento     29.17
32958   Apartamento     42.86
32959   Apartamento     26.00

[32198 rows x 2 columns]

In [0]:
dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)

In [100]:
dados

                          Tipo  ... Tipo Agregado
0                    Quitinete  ...   Apartamento
1                         Casa  ...          Casa
2      Conjunto Comercial/Sala  ...   Apartamento
3                  Apartamento  ...   Apartamento
4                  Apartamento  ...   Apartamento
...                        ...  ...           ...
32955                Quitinete  ...   Apartamento
32956              Apartamento  ...   Apartamento
32957              Apartamento  ...   Apartamento
32958              Apartamento  ...   Apartamento
32959  Conjunto Comercial/Sala  ...   Apartamento

[32198 rows x 13 columns]

#Relatório de Análise VII

In [102]:
dados['Valor'].mean()

13177.971364681036

In [0]:
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

In [104]:
dados['Bairro'].drop_duplicates()

0           Copacabana
2      Barra da Tijuca
16            Botafogo
21              Tijuca
25              Leblon
27             Ipanema
110           Flamengo
Name: Bairro, dtype: object

In [0]:
grupo_bairro = dados.groupby('Bairro')

In [106]:
for bairro, dados in grupo_bairro: 
    print(bairro)

Barra da Tijuca
Botafogo
Copacabana
Flamengo
Ipanema
Leblon
Tijuca

In [107]:
for bairro, dados in grupo_bairro: 
    print('{} -> {}'.format(bairro, dados.Valor.mean()))

Barra da Tijuca -> 9035.204743465634
Botafogo -> 19709.716814159292
Copacabana -> 4514.538436482085
Flamengo -> 6923.498132004981
Ipanema -> 10455.031861629495
Leblon -> 11072.38930774503
Tijuca -> 2964.5705794947994

In [108]:
grupo_bairro['Valor'].mean()

Bairro
Barra da Tijuca     9035.204743
Botafogo           19709.716814
Copacabana          4514.538436
Flamengo            6923.498132
Ipanema            10455.031862
Leblon             11072.389308
Tijuca              2964.570579
Name: Valor, dtype: float64

In [109]:
grupo_bairro[['Valor', 'Condominio']].mean().round(2)

                    Valor  Condominio
Bairro
Barra da Tijuca   9035.20     3490.42
Botafogo         19709.72     2814.36
Copacabana        4514.54     1183.24
Flamengo          6923.50     1890.19
Ipanema          10455.03     2282.16
Leblon           11072.39     2246.48
Tijuca            2964.57      792.07

## Estatistica descritiva

In [112]:
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

1046